/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .conatct-logo {
        max-width: 100% !important;
    }
    .kingster-navigation .sf-menu {
        display: flex;
        line-height: 1.7;
        text-align: left;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .kingster-navigation .sf-menu > li {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-link {
        color: #17082d !important;
        text-transform: uppercase !important;
        font-weight: 300 !important;
        padding-top: 20px;
        padding-bottom: 10px !important;
    }
    .kingster-footer-wrapper {
        padding-bottom: 0;
    }
    .kingster-footer-wrapper {
        padding-top: 0;
    }
    .kingster-footer-column {
        margin-bottom: 0;
    }
    .box-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .banner-img-center {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .gdlr-core-pbf-background-wrap {
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 0;
        left: 0px;
        overflow: hidden;
        z-index: -2;
        margin-bottom: 40px;
        margin-top: ;
    }
    .gdlr-core-image-item .gdlr-core-image-item-wrap {
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        max-width: 100%;
        margin-top: 40px;
    }
    .mar-top-banner{
        margin-top: 100px;
    }
    .conatct-logo {
        max-width: 80% !important;
    }
 }

 /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .conatct-logo {
        max-width: 100% !important;
    }
    .kingster-navigation .sf-menu > li {
        padding-left: 0;
        padding-right: 0;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .kingster-navigation .sf-menu > li {
        padding-left: 0;
        padding-right: 0;
    }
    .conatct-logo {
        max-width: 100% !important;
    }
    .box-padding {
        padding-left: 19px !important;
        padding-right: 20px !important;
    }
    .banner-font {
        font-size: 30px !important;
        font-weight: 900;
        letter-spacing: 0px;
        text-transform: none;
        color: #e07262 !important;
    }
    .banner-font-2{
        font-size: 28px !important; font-weight: 500 !important; letter-spacing: 0px; text-transform: none; color: #e07262 !important;
    }
    .gdlr-core-pbf-background-wrap {
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 10%;
        left: 0px;
        overflow: hidden;
        z-index: -2;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .box-padding {
        padding-left: 19px !important;
        padding-right: 20px !important;
    }
    .banner-font {
        font-size: 30px !important;
        font-weight: 900;
        letter-spacing: 0px;
        text-transform: none;
        color: #e07262 !important;
    }
    .banner-font-2{
        font-size: 28px !important; font-weight: 500 !important; letter-spacing: 0px; text-transform: none; color: #e07262 !important;
    }
    .gdlr-core-pbf-background-wrap {
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 10%;
        left: 0px;
        overflow: hidden;
        z-index: -2;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }