
.box-padding{
    padding-left: 200px !important;
    padding-right: 200px !important;
}

.border-footer{
    /* border-top: 1px solid #003263; */
    margin-right: 25px !important;
    margin-left: 25px;
}
.footer-background-color{
    background-color: #eeeff1;
}
.gdlr-core-pbf-background-wrap {
    position: absolute;
    top: 0%;
    right: 0px;
    bottom: 33%;
    left: 0px;
    overflow: hidden;
    z-index: -2;}

.banner-img-center{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.gdlr-core-page-builder-body img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}
.kingster-top-bar-background {
    background-color: #003263;
}

.text-color-primary{
    color: #192f59;
}
.scocial-icon{
    color: #fff;
    background: #192f59;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 11px;
    
    font-size: 15px;
}

.gdlr-core-pbf-background-wrap-1 {
    position: absolute;
    top: 0 !important;
    right: 0px;
    bottom: 0 !important;
    left: 0px;
    overflow: hidden;
    z-index: -2;
}

.padding-course{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.float-right{
    float: right;
}
.mb-40{
    margin-bottom: 20px;
}
.exmple-height{
    position: absolute;
top: 10%;
right: 0px;
bottom: 0 !important;
left: 0px;
overflow: hidden;
z-index: -2;
}

.padding-top-faq{
    border-top: 1px solid #8080809e;
    padding-top: 15px;
}
.conatct-logo{
    max-width: 50% !important;
}
.detail-flex{
    display: flex;justify-content: center;
}

.banner-font{
    font-size: 48px; font-weight: 900; letter-spacing: 0px; text-transform: none; color: #e07262 !important;
}
.banner-font-2{
    font-size: 48px; font-weight: 500 !important; letter-spacing: 0px; text-transform: none; color: #e07262 !important;
}
.flex-footer{
    display: flex;
    justify-content: center;
}
.kingster-logo-footer{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.footer-link{
    color: #17082d !important;
text-transform: uppercase !important;
font-weight: 300 !important;
}
.modal-dialog{
    padding-top: 60px !important; 
}

@font-face {
    font-family: rock;
    src: url(../fonts/rock/ROCK.TTF);
  }




.modal-backdrop{
    display: none;
}